.icon-row{
    display: flex;
    justify-content: space-between;
}

.icon-row__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 사이즈 조정 가능 기존  fa-xs 같은걸 안해도 될듯 */
.icon-row__icon i{
    font-size: 35px;
}

.icon-row__icon span{
    margin-top: 18px;
}
