.nav{
    position: fixed;
    bottom :0;
    width: 100%;
    padding: 20px 0px;
    border-top:1px solid rgba(0,0,0,0.1);
}

.nav--color{
    background-color: #f9f9fa;
}

.nav__list{
    display: flex; 
    justify-content: space-around;
}

.nav__link{
    color: #2e363e;
}